USE [master]
GO
/****** Object:  Database [CSTI_CADCAM]    Script Date: 27/01/2026 15:58:14 ******/
CREATE DATABASE [CSTI_CADCAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSTI_CADCAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CSTI_CADCAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSTI_CADCAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CSTI_CADCAM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSTI_CADCAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSTI_CADCAM]
GO
/****** Object:  Table [dbo].[MASTER_MOLD]    Script Date: 27/01/2026 15:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_MOLD](
	[SERIAL_NUM] [varchar](10) NOT NULL,
	[PO_DATE] [datetime] NULL,
	[O_ETC] [datetime] NULL,
	[DELIVERY] [bit] NULL,
	[R_ETC] [datetime] NULL,
	[STAGE] [varchar](10) NULL,
	[MOLD_CODE] [varchar](10) NULL,
	[SEASON] [varchar](4) NULL,
	[MODEL] [varchar](50) NULL,
	[PART] [varchar](15) NULL,
	[MOLD_TYPE] [varchar](7) NULL,
	[O_MOLD_P] [int] NULL,
	[PICTURE_PATH] [varchar](255) NULL,
	[DISCOUNT] [decimal](5, 2) NULL,
	[MOLD_P] [int] NULL,
	[STEP] [varchar](5) NULL,
	[MOLD_SIZE] [varchar](10) NULL,
	[MOLD_ID] [varchar](10) NULL,
	[FILE_2D] [varchar](30) NULL,
	[FILE_3D] [varchar](30) NULL,
	[C_WOOD1] [varchar](55) NULL,
	[C_WOOD2] [varchar](55) NULL,
	[C_WOOD3] [varchar](55) NULL,
	[C_TOPPLATE1] [varchar](55) NULL,
	[C_TOPPLATE2] [varchar](55) NULL,
	[C_BOTPLATE1] [varchar](55) NULL,
	[C_BOTPLATE2] [varchar](55) NULL,
	[C_MIDPLATE1] [varchar](55) NULL,
	[C_MIDPLATE2] [varchar](55) NULL,
	[C_CORE1] [varchar](55) NULL,
	[C_CORE2] [varchar](55) NULL,
	[C_CORE3] [varchar](55) NULL,
	[C_CORE4] [varchar](55) NULL,
	[C_CORE5] [varchar](55) NULL,
	[WOOD1] [varchar](30) NULL,
	[WOOD2] [varchar](30) NULL,
	[WOOD3] [varchar](30) NULL,
	[WOOD4] [varchar](30) NULL,
	[SILICON1] [varchar](35) NULL,
	[SILICON2] [varchar](35) NULL,
	[CERAMIC1] [varchar](35) NULL,
	[CERAMIC2] [varchar](35) NULL,
	[MELTING1] [varchar](35) NULL,
	[MELTING2] [varchar](35) NULL,
	[MILLING1] [varchar](30) NULL,
	[MILLING2] [varchar](30) NULL,
	[SCAN1] [varchar](30) NULL,
	[SCAN2] [varchar](30) NULL,
	[REVERSE1] [varchar](30) NULL,
	[REVERSE2] [varchar](30) NULL,
	[TOPPLATE1] [varchar](30) NULL,
	[TOPPLATE2] [varchar](30) NULL,
	[BOTPLATE1] [varchar](30) NULL,
	[BOTPLATE2] [varchar](30) NULL,
	[MIDPLATE1] [varchar](30) NULL,
	[MIDPLATE2] [varchar](30) NULL,
	[CORE1] [varchar](30) NULL,
	[CORE2] [varchar](30) NULL,
	[CORE3] [varchar](30) NULL,
	[CORE4] [varchar](30) NULL,
	[CORE5] [varchar](30) NULL,
	[C_TOPPLATE1_CNC] [varchar](30) NULL,
	[C_TOPPLATE2_CNC] [varchar](30) NULL,
	[C_BOTPLATE1_CNC] [varchar](30) NULL,
	[C_BOTPLATE2_CNC] [varchar](30) NULL,
	[C_MIDPLATE1_CNC] [varchar](30) NULL,
	[C_MIDPLATE2_CNC] [varchar](30) NULL,
	[C_CORE1_CNC] [varchar](30) NULL,
	[C_CORE2_CNC] [varchar](30) NULL,
	[C_CORE3_CNC] [varchar](30) NULL,
	[C_CORE4_CNC] [varchar](30) NULL,
	[C_CORE5_CNC] [varchar](30) NULL,
	[VSM] [varchar](30) NULL,
	[VSM_L1] [varchar](5) NULL,
	[TEST] [varchar](30) NULL,
	[TEXTER] [varchar](30) NULL,
	[COTTING] [varchar](30) NULL,
	[AIRHOLE] [varchar](30) NULL,
	[DATA1] [varchar](200) NULL,
	[CREATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SERIAL_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MASTER_MOLD] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
USE [master]
GO
